body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  width: 500px;
  height: 200px;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  position: relative;
  left: 50px;
  align-items: center;
  background-color: plum;
  justify-content: center;
  opacity: 0;
  transition: all 1.2s linear;
}

.yellow {
  position: relative;
  left: 0;
  background-color: yellow;
  opacity: 1;
}
